/*  Polices pour dyslexiques
 *  OpenDyslexic pour les titres
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('../fonts/opendyslexic-webfont.woff2') format('woff2'),
         url('../fonts/opendyslexic-webfont.woff') format('woff');
    /*font-weight: normal;
    font-style: normal;*/
}


/*  Mise en page globale
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    background: #eee;
    font-family: OpenDyslexic;
}

#navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #555;
    color: #eee;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
#infos-buttons {
    float: left;
}
#infos-left {
    float: left;
    width: 150px;
    line-height: 0;
}
#infos-right {
    float: right;
    width: 150px;
    line-height: 0;
    /*background-color: #FF6699;*/
}

#message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
    min-height: 150px;
    display: none;
    color: #eee;
    background-color: #555;
    opacity: 0.7;
}

#container-game {
    background: #eee;
    overflow: hidden;
}


/*  récupéré dans bootstrap.css (thème superhero)
    https://bootswatch.com/superhero
-------------------------------------------------- */

button {
    font: inherit;
    margin-top: -10px;
}

.btn {
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1;
}

.btn-warning {
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: transparent;
}
.btn-warning:hover {
    color: #ffffff;
    background-color: #ec971f;
    border-color: rgba(0, 0, 0, 0);
}

















 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


