/*  Polices pour dyslexiques
 *  OpenDyslexic pour les titres
-------------------------------------------------- */
@font-face {
    font-family: OpenDyslexic;
    src: url('../fonts/opendyslexic-webfont.woff2') format('woff2'),
         url('../fonts/opendyslexic-webfont.woff') format('woff');
}


/*  Mise en page globale
-------------------------------------------------- */

html {
    position: relative;
    min-height: 90%;
}
body {
    background-color: #555;
    color: #eee;
    padding-top: 20px;
    font-family: OpenDyslexic;
}
hr {
    background-color: #eee;
    color: #fff;
}
.card {
    background-color: #777;
    color: #fff;
}

.enabled {
    background-color: #777;
    color: #fff;
}
.enabled:hover {
    color: yellow;
}
.disabled {
    cursor: default;
}

.input-group-text {
    width: 150px;
}

.level-help {
    min-height: 200px;
}



